.highlights-component-container {
  width: 100%;
  display: flex;
  height: 50vh;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;

  .highlights-card-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    // background-color: red;
    height: 200px;
    margin-top: 40px;

    .header-title {
      width: 100%;
      height: 100%;
      display: flex;
      h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 36px;
        line-height: 24px;
        text-align: center;
        color: #e7e7eb;
        margin-bottom: 20px;
      }
    }

    .cards-wrapper {
      //   background-color: red;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      margin-top: 20px;

      .wind-status-card {
        width: 328px;
        height: 204px;
        background: #1e213a;
        display: flex;
        flex-direction: column;
        align-items: center;

        .card-header {
          width: 100%;
          height: auto;
          display: flex;
          margin-top: 20px;
          justify-content: center;
          align-items: center;
          margin-bottom: 3px;

          h1 {
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
          }
        }

        .wind-details {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          margin-bottom: 23px;
          //   gap: 0.;
          h1 {
            font-family: 'Raleway', sans-serif;
            font-size: 80px;
            font-weight: 600;
            margin-top: 10px;
          }

          span {
            font-family: 'Raleway', sans-serif;
            font-size: 35px;
            display: inline-block;
            margin-bottom: 10px;
            transform: translateX(5px);
          }
        }

        .wind-position-details {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          align-content: center;
          gap: 0.5rem;
          margin-top: 3px;
          p {
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: #e7e7eb;
          }

          span {
            font-size: 16px;
            display: inline-block;
            transform: translateY(2px);
          }
        }
      }

      .humidity-status-card {
        width: 328px;
        height: 204px;
        background: #1e213a;
        display: flex;
        flex-direction: column;
        align-items: center;

        .card-header {
          width: 100%;
          height: auto;
          display: flex;
          margin-top: 20px;
          justify-content: center;
          align-items: center;
          margin-bottom: 3px;
          h1 {
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
          }
        }

        .humidity-details {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          margin-bottom: 23px;
          h1 {
            font-family: 'Raleway', sans-serif;
            font-size: 80px;
            font-weight: 600;
            margin-top: 13px;
          }
        }
      }
      .humidity-progress-bar-wrapper {
        width: 100%;
        height: 80px;
        transform: translateY(-20px);
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .percent {
          display: flex;
          width: 100%;
          gap: 4.6em;
          margin-bottom: 4px;
          justify-content: center;
          align-content: space-between;

          p {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
          }
        }
        .humidity-progress-bar {
          width: 60%;
          border-radius: 12px;
          height: 8px;
          background-color: #e7e7eb;

          .progress-bar-fill {
            height: 100%;
            background: #ffec65;
            border-radius: 12px;
          }

          p {
            margin-left: 95%;
            margin-top: 5px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
          }
        }
      }

      .visibility-status-card {
        width: 328px;
        height: 159px;
        background: #1e213a;
        display: flex;
        flex-direction: column;
        align-items: center;
        .card-header {
          width: 100%;
          height: auto;
          display: flex;
          margin-top: 20px;
          justify-content: center;
          align-items: center;
          margin-bottom: 3px;
          h1 {
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
          }
        }

        .visibility-details {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          margin-bottom: 23px;
          h1 {
            font-family: 'Raleway', sans-serif;
            font-size: 60px;
            font-weight: 600;
            margin-top: 13px;
          }
          span {
            font-family: 'Raleway', sans-serif;
            font-size: 35px;
            display: inline-block;
            margin-bottom: 10px;
            transform: translateX(5px);
          }
        }
      }
      .air-status-card {
        width: 328px;
        height: 159px;

        background: #1e213a;
        display: flex;
        flex-direction: column;
        align-items: center;
        .card-header {
          width: 100%;
          height: auto;
          display: flex;
          margin-top: 20px;
          justify-content: center;
          align-items: center;
          margin-bottom: 3px;
          h1 {
            font-size: 18px;
            font-family: 'Raleway', sans-serif;
          }
        }

        .air-details {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          margin-bottom: 23px;
          h1 {
            font-family: 'Raleway', sans-serif;
            font-size: 60px;
            font-weight: 600;
            margin-top: 13px;
          }

          span {
            font-family: 'Raleway', sans-serif;
            font-size: 35px;
            display: inline-block;
            margin-bottom: 10px;
            transform: translateX(5px);
          }
        }
      }
    }
  }

  .footer-container {
    // background-color: red;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    p {
      color: #e7e7eb;
      font-family: 'Raleway', sans-serif;

      a {
        text-decoration: none;
        color: inherit;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cards-wrapper {
    //   background-color: red;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 1440px) and (min-width: 769px) {
  .highlights-card-wrapper {
    transform: translateY(-50px);
  }
}

@media screen and (max-width: 400px) {
  .header-title {
    display: flex;
    justify-content: center;
    h1 {
      font-size: 30px !important;
    }
  }

  .wind-status-card,
  .humidity-status-card,
  .visibility-status-card,
  .air-status-card {
    width: 265px !important;
  }

  .visibility-details,
  .air-details {
    transform: translateY(10px);
    h1 {
      font-size: 50px !important;
    }

    span {
      font-size: 25px !important;
    }
  }

  .footer-container {
    // transform: translateY(-20px);
    width: 100%;
    p {
      font-size: 13px;
      transform: translateY(-10px);
    }
  }
}
